.create-topic{
	form {
		.topic-title {
			width:100%;
			height: 40px;
			line-height: 40px;
			border:0;
			margin-bottom: 1px;
			padding-left: 1rem;
		}
		textarea {
			border: 0;
			padding: 1rem;
			width: 100%;
			height: 80px;
			resize:none;
			display: block;
			margin-bottom: 1px;
		}

	}
}