.drop-menu {
	position: absolute;
	right: -10px;
	top: 60px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	z-index: 40;
	.menu {
		position: relative;
		a {
			display: block;
			cursor: pointer;
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-left: 2rem;
			border-bottom: 1px solid #DADADA;
			text-decoration: none;
			text-transform: uppercase;
			color: #000;
			font-size: 1.5rem;
			padding-right: 3rem;
			transition: all 0.2s ease;
			width: 200px;
		}
		a:hover {
			background: #F3F3F3;
			transition: all 0.2s ease;
		}
		i {
			color: #fff;
			display: inline-block;
		}
		.arrow-up {
			display: inline-block;
			position: absolute;
			top: -10px;
			right: 12px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 9px 11px 9px;
			border-color: transparent transparent #fff transparent;
		}
		.menu-icon {
			display: inline-block;
			border-radius: 50%;
			width: 32px;
			height: 32px;
			line-height: 32px;
			text-align: center;
			margin-right: 1rem;
		}
		.discussion-icon {
			background: #F98900;
		}
		.question-icon {
			background: #00A9C3;
			font-size: 1.9rem;
		}
		.event-icon {
			background:#FB4B00;
		}

		.poll-icon {
			background:#369125;
		}
		.member-icon {
			background:#0B375B;
		}
		.invite-icon {
			background:#D72F5F;
		}

	}
}