.creator {
	border: 1px solid #DDDDDD;
	background: #F3F3F3;
	// padding-bottom: 100px;
	.tab {
		.tab-item {
			padding: 1.5rem 1rem;
			font-size: 1.5rem;
			text-transform: capitalize;
			cursor: pointer;
			display: inline-block;
			color: #999999;
		}
		.tab-item.selected {
			color: #000;
		}
	}
}