.forum {
	main {
		width: 100%;
		margin-right: auto;
		margin-left:auto;
		max-width: 1000px;
		padding-top: 2rem;
	}
	h1 {
		color: #7D7D7D;
	}
	article{
		.image{
			width: 100%;
			margin-top: 0.5rem
		}
		img{
			max-width: 100%;
		}
		.title a{
			text-decoration: none;
			color: #000;
			margin-bottom: 1rem;
			display: none;
		}
		.description{
			margin-top: 0.5rem;
		}
	}
	.video-container{
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
	}
	.video-container iframe, .video-container object, .video-container embed {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	.posting-row {

		> div:first-child img{
			width: 32px;
			height: 32px;
			margin-right: 10px;
		}
		>div:last-child {
			flex:1
		}
	}
	.posting {
		outline: none;
	}
	.like-wrapper {
		color: #999999;
		margin-bottom: 1.4rem;
		font-size: 1.2rem;
		.created-date {
			margin-right: 0.5rem;
		}
		.hy {
			margin-right: 0.5rem;
		}
		.like-btn{margin-right: 0.5rem}
	}
	.other-user-post-wrapper {
		border:1px solid #DDDDDD;
		background: #F3F3F3;
		padding: 1rem;
	}
	.col2 {
		padding-right: 1rem;
		padding-left: 1rem;
		padding-bottom: 200px;
		position: relative;
		.con-loader{
			position: absolute;
			bottom: 150px;
			margin: auto;
			right: 0;
			left: 0;
			font-size: 1.6rem;
			text-align: center;
		}
	}
	.col1 {
		padding-right: 1rem;
	}
	.col3 {
		padding-left: 1rem;
	}
	.col1, .col2, .col3 {

	}
	.col1 {
		flex:1
	}
	.col2{
		flex:3
	}
	.col3{
		flex:1
	}
	.topic-item {
		border-bottom: 1px solid #D8D8D8;
		// padding: 2rem 0;
		padding-top: 1.8rem;
		padding-bottom: 2.3rem;
		.topic-type {
			display: inline-block;
			border-radius: 4px;
			border: 1px solid #F5F5F5;
			background-color: #F5F5F5;
			padding: 0.2rem 0.7rem;
			margin-right: 2rem;
			font-size: 1.2rem;
			color: #999999;
			text-transform: capitalize;
			font-weight: 200;

		}
		.topic-title {
			margin-bottom: 1.1rem;
			margin-top: 0.8rem;
			a {
				text-align: none;
				font-weight: bold;
				color: #000;
				font-size: 1.6rem;
				text-decoration: none;

			}
		}
		.who-what {
			.user-name {
				margin-right: 2px;
				color:#999999;
				font-size: 1.3rem;
				display: inline-block;
			}
		}
	}
	.user {
		margin-bottom: 0.6rem;
		.user-left {
			padding-right: 1rem;
		}
		.user-right{
			font-size: 1.5rem
		}
		img {
			width: 40px;
			height: 40px;
		}
	}



}