.post-buttons {
	.ui-submit-btn, .ui-cancel-btn {
		margin-top:1.3rem;
		margin-bottom: 1.3rem;
		margin-left: 1rem;

		padding-top: 0;
		padding-bottom: 0;
		padding-left: 2rem;
		padding-right: 2rem;
		height: 32px;
		line-height: 32px;
		display: inline-block;
	}
}