.user-menu {
	position: absolute;
	right: 5px;
	top: 60px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	.menu {
		position: relative;
		a {
			display: block;
			cursor: pointer;
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-left: 2rem;
			border-bottom: 1px solid #DADADA;
			text-decoration: none;
			text-transform: uppercase;
			color: #000;
			font-size: 1.5rem;
			padding-right: 3rem;
			transition: all 0.2s ease;
			width: 200px;
		}
		a:hover {
			background: #F3F3F3;
			transition: all 0.2s ease;
		}
		i {
			color: #fff;
			display: inline-block;
		}
		.arrow-up {
			display: inline-block;
			position: absolute;
			top: -10px;
			right: 12px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 9px 11px 9px;
			border-color: transparent transparent #fff transparent;
		}
	}
}