header {
	// height: 60px;
	position: relative;
	background: #6290FF;
	color: #fff;
	padding-right: 1rem;
	padding-left: 1rem;
}
.logo {
	text-transform: capitalize;
	background: url(logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 24px;
	width: 141px;
	display: inline-block;
}
