.event-header {
	border: solid 1px #ddd;
	.leftcol {
		background: #0E385A;
		width: 140px;
		height: 140px;
		color: #fff;
		font-weight: 200;
		span{
			display: block;
			text-align: center;
		}
		.day-of-week{
			font-size: 2rem
		}
		.date-number{
			font-size: 4rem
		}
		.month{
			font-size: 2rem
		}
		.date {
			color: #9D9D9D;
		}
		.time {
			color: #DBDBDB;
		}
	}
	.rightcol {
		color: #222222;
		padding-left: 20px;
		flex:1;
		display: flex;
		flex-direction: column;
		padding-top: 10px;
		padding-bottom:10px; 
		i{
			width: 20px;
			text-align: center;
			font-size: 1.5rem;
			margin-right: 4px;
		}
		.hy {
			margin-right: 3px;
			margin-left: 3px;
		}
		.event-marker {
			font-size: 1.8rem
		}
	}
	.event-action {
		text-align: center;
		
		margin-top: auto;
	}
	.event-action-item {
		// display: inline-block;
		// margin-right: 3rem;
		// background: #EE5554;
		// border: solid 1px #ddd;
		// color: #fff;
		flex:1;
		margin-right: 1rem;
		padding: 0.2rem;
		padding-bottom: 0.4rem;
		background: #F3F4F5;
		color: #212223;

	}
	.event-action-item:last-child{
		margin-right:2rem;
	}
	.event-action-item:first-child{
	}
	.event-action-item:hover {
		background-color: #ddd;
		cursor: pointer;
	}
	.event-action-item  span {
		display: block
	}
	.event-action-item > span:first-child {
		font-size: 2rem;
		// color: #fff;
	}
	.event-date {
		text-align: center;
	}
	
	.event-selection-wrapper {
		padding: 20px;	
	}

}