.question-header {
	margin-bottom: 1.3rem;
	margin-top: 1.2rem;
	.question-selection-wrapper {
		border: 1px solid #C4C4C4;
		.leftcol{
			height: 50px;
			line-height: 60px;
			width: 50px;
			background: #0D375A;
			text-align: center;
		}
		i{
			font-size: 3rem;
			color: #fff
		}
		.rightcol{
			padding-left: 2rem
		}
		.title{
			// margin-right: auto;
		}
	}
	
	

}