.topic {
	main{
		// padding: 3rem;
		// width: 800px;
		.left-side {
			padding: 3rem;
		}
	}
	h1 {
		margin-bottom: 4rem
	}

	.menu {

	}
	.menu > div {
		cursor: pointer;
	}
	.post-item {
		padding-bottom: 3.5rem;
	}
	.post-item article {
		margin-bottom: 1.5rem
	}
	.post-item article > div {
		max-width: 350px
	}
	.post-item article .image img {
		max-width: 300px;
		margin-bottom: 1rem
	}
	.post-item article .title {
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}
	.post-item article .description {
		color: #999;
	}
	.user-row i{
		margin-right: 1rem;
	}
	.user-row span {
		color: #949494;
	}
	.user-row a {
		color: #5DA0E7;
	}
	
	.user-icon-wrapper {
		border-radius: 50%;
		width: 70px;
		height: 70px;
		background-color: #DFDFDF;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
	}
	.user-icon-wrapper i {
		font-size:5rem;
		color: #fff;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}
	.user-name {
		margin-right: 3rem;
	}
	.created-date {
		margin-right: 3rem;
	}
	.reply-btn {

	}
	.reply-textarea {

	}
	.cancel-reply-btn, .reply-btn {
		height: 25px;
		line-height: 25px;
		background-color: #eee;
		padding: 0 1rem;
		border-radius: 3px;
		text-transform: capitalize;
	}
	.reply-btn {
		background-color: #86C9FF;
		color: #fff
	}
	.main-post-btn{
		display: none;
		background: #3C5DB0;
		padding-right: 4rem;
		padding-left: 4rem;
		margin-top: 4.3rem;
		i {
			margin-right: 0.4rem;
		}
	}
}