.time {
	display: inline-block;
	
	$inputHeight: 33px;


	.input-wrapper {
		position: relative;
		border: 1px solid #D7D7D7;
		display: inline-block;
		width: 100px;
		vertical-align: middle;
		margin-right: 1rem;
		input[type="number"]{
			border: none;
			height: $inputHeight;
			line-height: $inputHeight;
			width: 50%;
			padding-left: 18px;
			text-align: center;
		}
		input:focus{
			outline: none
		}
		span{
			position: absolute;
			width: 5px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			top: 50%;
			left: 50%;
			transform:translate(-50%, -50%)
		}
	}
	select {
		height: $inputHeight + 2px;
		line-height: $inputHeight + 2px;
		border: 1px solid #D7D7D7;
		background: none;
		display: inline-block;
		vertical-align: middle;
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
		width: 50px;
		text-align: center;
		padding-left: 15px;
	}
}
