.register-modal {
	top             : 20%;
	left            : 50%;
	right           : auto;
	bottom          : auto;
	transform       : translate(-50%, -50%);
	border          : none;
	padding         : 0;
	outline         : none;
	position        : fixed;
	background-color: #fff;
	
	
	
	div{
	
		max-height      : 200px;
		text-align: center;
		text-transform: capitalize;
		font-size: 1.6rem;
		padding: 3rem 5rem;

		position: relative;
		width: 100%;
		height: 100%;
		i{
			color: #999;
			font-size: 1.6rem;
		}
		.close-btn {
			position: absolute;
			top: 4px;
			right: 10px;
			width: 10px;
			height: 10px;
			cursor: pointer;
		}
	}
	
}

.register-modal-overlay {
	position        : fixed;
	top             : 0;
	left            : 0;
	right           : 0;
	bottom          : 0;
	background-color: rgba(0, 0, 0, 0.15);
}
