.register {

	main{
		width:100%;
		max-width: 400px;
		margin-right: auto;
		margin-left: auto;
		padding-top: 7%;
	}
	h1 {
		text-transform: capitalize;
		margin-bottom: 3rem;
		font-size:2.8rem;
		text-align: center;
	}
	form {
		border: 1px solid #DDDDDD;
		border-radius: 4px;
		background: #fff;
		position: relative;
		padding: 3rem;
		.reg-link {
			color: #000;
			text-decoration: none;
		}
		input {
			width: 100%;
			padding: 1rem; 
		}
		i {
			position: absolute;
			top: 50%;
			transform:translateY(-50%);
			right: 10px;
			color: #999
		}
		
		.top-border {
			padding-top: 20px;
			border-top: solid 1px #DDDDDD;
		}
		.lock-icon {
			font-size: 1.8rem;
		}
		.signup-btn {
			width: 97px;
			height: 39px;
			text-align: center;
			line-height: 36px;
			color: #222222;
			border: solid 1px #000;
			border-radius: 3px;
			display: inline-block;
			margin-left: auto; // to algin flex item to the right
			text-decoration: none;
		}
		.login-sep {
			padding-bottom: 20px;
			border-bottom: solid 1px #DDDDDD;
		}
	}
	
	
}

