.create-poll {

	form {
		.poll-title{
			width:100%;
			height: 40px;
			line-height: 40px;
			border:0;
			margin-bottom: 1px;
			padding-left: 1rem;
		}
		.option-wrapper {
			background: #fff;
			padding: 2rem;
		}
		.add-btn {
			display: inline-block;
			height: 31px;
			line-height: 31px;
			// margin-bottom: 3rem;
			margin-top: 1rem;
			background: url(icon/plus.png) center center no-repeat;
			background-size: 25px 25px;
			width: 31px;
			border: 1px solid #ccc;
			border-radius: 3px;
		}
		.delete {
			position: absolute;
			display: inline-block;
			height: 38px;
			line-height: 38px;
			// margin-bottom: 3rem;
			background: url(icon/plus.png) center center no-repeat;
			background-size: 20px 20px;
			width: 38px;
			// border: 1px solid #ccc;
			border-radius: 3px;
			transform: rotate(45deg);
			right: 1%;
			top: 0;
			cursor: pointer;
			// transform:translateY(-50%);
		}
		.add-btn i {
			font-size: 4rem;
			color: #D6D8DB;
		}
		.btn-group {
			margin-top:3rem;
		}

		.mutiple-choice-wrapper {
			> div input[type="text"] {
				border-bottom: solid 1px #D6D8DB;
			}
			input[type="text"]{
				border:0;
				// border-bottom: solid 1px #D6D8DB;
				border-right: solid 1px #D6D8DB;
				border-left: solid 1px #D6D8DB;
				padding: 1rem 1rem;
				width: 100%;

			}
			> div:first-child input[type="text"]{
				border-top: solid 1px #D6D8DB;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
			}
			> div:last-child input[type="text"]{

				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
			}
		}

	}
}