.Select {
	display: inline-block;
	display: none;
	vertical-align: middle;
	max-width: 300px;
	min-width: 300px;
	margin-left: 0;
	margin-bottom: 3rem;

	.Select-control {
		background: #C9CED1;
		height: 34px;
		line-height: 34px;
		border:0;
	}
	.Select-value-label {
		line-height: 34px;
	}
	.Select-multi-value-wrapper{
		line-height: 34px;
	    height: 34px;
	    display: inline-block;
	}
	.Select-value {
		line-height: 34px !important;
		height: 34px;
	}
	.Select-input {
		height: 34px;
		line-height: 34px;
		vertical-align: top;

		input {
			line-height: 34px;
			padding: 0;
		}
	}
	.Select-menu-outer {
		border:0;
		margin: 0;
	}
	
}
.Select-menu{
	border: 0;
	.Select-option {
		background: #C9CED1 !important;
		padding-bottom: 0;
		padding-top: 0;
	}
	.Select-option.is-focused{
		background: #FE8282 !important;
	}
}
