.poll-result{
	border: 1px solid #E1E1E1;
	padding: 15px;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
	.poll-selection-wrapper {
	}
	.poll-selection-item {
		background-color: #6FD1E3;
		padding-top: 1rem ;
		padding-bottom: 1rem;
		padding-left: 1.5rem;
		color: #fff;
		font-size: 1.6rem;
		margin-bottom: 1px;
		cursor: pointer;
		text-transform: capitalize;
	}
	.poll-selection-item:hover{
		// background-color: #71BAFF;
	}
	.leftcol{
		flex:1
	}
	.rightcol {
		padding-right: 10px;
	}
	.vote-num{
		margin-right: 5px;
	}
	.vote-percent{
		margin-left: 5px;
	}
}