.login {
	main{
		width:100%;
		max-width: 400px;
		margin: auto;
		padding-top: 7%;
	}
	h1 {
		text-transform: capitalize;
		margin-bottom: 3rem;
		font-size:2.8rem;
		text-align: center;
	}
	form {
		border: 1px solid #DDDDDD;
		border-radius: 4px;
		background: #fff;
		position: relative;
		padding: 3rem;
		width: 100%;
		input[type="text"], input[type="password"]{

		}
		.login-btn {
			background: #FB4B00;
			width: 100%;
			border-radius: 4px;
			height: 50px;
			line-height: 50px;
			color: #fff;
			text-transform: capitalize;
		}
		.signup-btn {
			width: 97px;
			height: 39px;
			text-align: center;
			line-height: 36px;
			color: #222222;
			border: solid 1px #000;
			border-radius: 3px;
			display: inline-block;
			margin-left: auto; // to algin flex item to the right
			text-decoration: none;
		}
		i {
			position: absolute;
			color: #999999;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
		}
		.login-sep {
			padding-bottom: 20px;
			border-bottom: solid 1px #DDDDDD;
		}
		
		.rem {
			// font-weight: 300;
			margin-left: 10px;
		}
		.reg-link {
			color: #000;
			text-decoration: none;
		}
		.forgot-password-link{
			color: #0C385B;
		}
		.lock-icon {
			font-size: 1.9rem;
		}
		.mail-icon {
			font-size: 1.5rem
		}
		.text-box {
			border: 1px solid #979797;
			border-radius: 4px;
			width: 100%;
			height: 50px;
			line-height: 50px;
			padding-left: 1rem;
		}
	}

}