:global{




.ui-submit-btn  {
	background: #FB4B00;
	border-radius: 4px;
	color: #fff;
	text-transform: capitalize;
}
.ui-submit-btn:hover{
	
}
.ui-cancel-btn {
	background: #aaa;
	border-radius: 4px;
	color: #FFFFFF;
	text-transform: capitalize;
	text-decoration: none;
}
.ui-cancel-btn:hover {
	color: #fff;
}
.ui-textarea {
	border-radius: 5px;
	width: 100%;
	padding: 1rem;
	border: 1px solid #ccc;
	height: 70px;
	margin-bottom: 1rem;
}
.ui-input-text {

}

}