.post-form{
	width: 100%;
	display: flex;
	.post-btn {
		padding: 0.8rem 1.8rem;
		display: inline-block;
		vertical-align: middle;
	}
	textarea{
		flex:1;
		border-radius: 3px;
		padding: 0.5rem;
		border: 1px solid #DDDDDD;
		// height: 34px !important;
		display: inline-block;
		resize: none;
		vertical-align: middle;
		margin-right: 10px;
		min-height: 34px;
	}
}
