.post-message-modal {
	top             : 20%;
	left            : 50%;
	right           : auto;
	bottom          : auto;
	transform       : translate(-50%, -50%);
	border          : none;
	padding         : 0;
	outline         : none;
	position        : fixed;
	background-color: #fff;
	// width           : 300px;
	max-height      : 400px;
	border-radius   : 4px
}

.post-message-modal-overlay {
	position        : fixed;
	top             : 0;
	left            : 0;
	right           : 0;
	bottom          : 0;
	background-color: rgba(0, 0, 0, 0.15);
}
.post-message {
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: green;
	padding: 0 2rem;
	text-transform: capitalize;
	display: block;
}