.calendar {
	display: inline-block;
	margin-right: 1rem;
	input {
		padding: 0.8rem;
		border: 1px solid #DDDDDD;
		display: inline-block;
		vertical-align: middle;
		background: #fff url('icon/cal.png') no-repeat 90% 50%;
		background-size: 21px
	}
}