.create-event {
	form {
		.event-title {
			width:100%;
			height: 40px;
			line-height: 40px;
			border:0;
			margin-bottom: 1px;
			padding-left: 1rem;
		}
		.event-content-wrapper{
			background: #fff;
			padding: 3rem;
		}
		.event-error {
			position: absolute;
			min-width: 100px;
			border: solid 1px #ddd;
			height: 40px;
			line-height: 40px;
			padding-left: 20px;
			padding-right: 20px;
			left: 179px;
			z-index: 1000;
			background-color: #fff;
			top:50%;
			transform: translateY(-50%);
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
		}
		.title-wrapper .event-error {
			left: auto;
			right: -110px;
		}

		> div > input[type="text"] {
			width: 100%;
		}
		.location-wrapper{
			width: 335px;
			.location-input{
				width: 100%;
				padding: 0.8rem;
				border: 1px solid #DDDDDD;				
			}
			i{
				color: #999999;
				font-size: 2rem;
				position: absolute;
				right: 10px;
				top: 50%;
				transform:translateY(-50%);
			}
		}
		
	}
}