@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
	z-index: 9999;
	display: block;
	position: relative;
	color: #333;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
	content: " ";
	display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
	display: none;
}

.pika-single.is-bound {
	position: absolute;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
	float: left;
	width: 305px;
	padding: 20px;
}

.pika-title {
	padding-bottom: 6px;
	position: relative;
	text-align: center;
}

.pika-label {
	display: inline-block;
	*display: inline;
	color: #4A4A4A;
	position: relative;
	z-index: 9999;
	overflow: hidden;
	margin: 0;
	padding: 5px 3px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	background-color: #fff;
}
.pika-title select {
	cursor: pointer;
	position: absolute;
	z-index: 9998;
	margin: 0;
	left: 0;
	top: 5px;
	filter: alpha(opacity=0);
	opacity: 0;
}

.pika-prev,
.pika-next {
	display: block;
	cursor: pointer;
	position: relative;
	outline: none;
	border: 0;
	padding: 0;
	width: 20px;
	height: 30px;
	/* hide text using text-indent trick, using width value (it's enough) */
	text-indent: 20px;
	white-space: nowrap;
	overflow: hidden;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
   // background-size: 75% 75%;
   opacity: .5;
   *position: absolute;
   *top: 0;
   background-size: 50%;
}

.pika-prev:hover,
.pika-next:hover {
	opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
	float: left;
	background-image: url('chevron-left.png');
	*left: 0;
}

.pika-next,
.is-rtl .pika-prev {
	float: right;
	background-image: url('chevron-right.png');

	*right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
	cursor: default;
	opacity: .2;
}

.pika-select {
	display: inline-block;
	*display: inline;
}

.pika-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}

.pika-table th,
.pika-table td {
	width: 14.285714285714286%;
	padding: 0;

}
.pika-table tbody td {
	border: 1px solid #E7E7E7;
}
.pika-table td.is-empty {
	border:0
}

.pika-table th {
	color: #4A4A4A;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	font-weight: 300;
	cursor: pointer;
}

.pika-button {
	cursor: pointer;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	margin: 0;
	width: 100%;
	//padding: 5px;
	color: #666;
	height: 37px;
	text-align: center;
	background: #fff;
	border:0;

}

.pika-week {
	font-size: 11px;
	color: #999;
}

.is-today .pika-button {
	color: #4A4A4A;
	font-size: 14px;
	text-align: center;
}

.is-selected .pika-button {
	color: #fff;
	background: #D0021B;
	border: 0;
}
.blue .is-selected .pika-button {
	background: #4A90E2;
}
.is-inrange .pika-button {
	background: #D5E9F7;
}

.is-startrange .pika-button {
	color: #fff;
	background: #6CB31D;
	box-shadow: none;

}

.is-endrange .pika-button {
	color: #fff;
	background: #33aaff;
	box-shadow: none;

}

.is-disabled .pika-button {
	pointer-events: none;
	cursor: default;
	color: #999;
	opacity: .3;
}

.pika-button:hover {

	box-shadow: none;
	border: 1px #D0021B solid;
}
.blue .pika-button:hover{
	border-color: #4A90E2
}


/* styling for abbr */
.pika-table abbr {
	border-bottom: none;
	border:0;
	text-decoration: none;
	cursor: pointer;
}

// pika cal custom slyting
.pika-single .ui-delay-day .pika-button{
	background: #EDADB5;
	color: #fff
}
.pika-single.blue .ui-delay-day .pika-button{
	background: #98C7FF
}
.start-delay-indicator, .end-delay-indicator {
	position: absolute;
	left: 10px;
	bottom: 17px;
	height: 10px;
	line-height: 10px;
	z-index: 0
}
.delay-avail {
	padding-bottom: 16px !important;
}
.red .iii {
	color: #D0021B
}
.red .disabled .iii {
	color: #F0B3BB ;
}
.blue .disabled .iii {
	color: #BFD8F4 !important;
}
.blue .iii{
	color: #4A90E2 !important;
}
.custom-cal{
	width: 305px;
	padding: 20px;
	padding-top: 0;



	.row2 {
		width: 100%;
		text-align: center;
		padding-top: 18px
	}
	.row2 button {
		background: #D8D8D8;
		border:0;
		width: 50%;
		height: 30px;
		line-height: 25px;
		border-radius: 4px;
	}
	.row2 button.cal-cancel-btn {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0
	}
	.row2 button.cal-ok-btn {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		color: #fff;
		background: #9B9B9B;
	}
	.row2 button.cal-ok-btn.active {
		background: #D0021B;
	}
	.row1 {
		width: 100%;
	}
	.row1 * {
		font-size: 12px
	}
	.row1 > div{
		display: inline-block;
		font-size: 0
	}
	.row1 .ccr {
		text-align: right;
	}
	.row1 .ccr .m-btn-wrapper{
		display: inline-block;
	}
	.row1 .ccr .m-btn-wrapper *{
		display: inline-block;
		text-align: center;
		vertical-align: middle;
	}
	.row1 button {
		background: none;
		border: 1px solid rgba(121,121,121,0.30);
		width: 30px;
		height: 30px;
		line-height: 22px;
		font-size: 18px
	}
	.row1 button:hover{
		background-color: #D0021B;
		color: #fff
	}

	.row1 button.plus-btn{
		border-left: 0;
	}
	.row1 button.minus-btn{
		border-right: 0;
	}
	.row1 button.minus-btn.disabled{
		color: #ccc
	}
	.row1 button.plus-btn.disabled{
		color: #ccc
	}
	.row1 button.plus-btn.disabled:hover{
		background-color: #fff;
	}
	.row1 button.minus-btn.disabled:hover{
		background-color: #fff;
	}


	.row1 .later-btn {
		width: 100px;
		height: 30px;
		line-height: 30px;
		border: 1px solid rgba(121,121,121,0.30);
	}
	.row1 .later-btn span {
		line-height: 30px
	}
	.row1 {
		.ccl, .ccr {
			vertical-align: middle;
		}
	}
	.row1 > div:nth-child(1){
		width: 35%;
		font-size: 12px
	}
	.row1 > div:nth-child(1) *{
		font-size: 12px
	}
	.row1 > div:nth-child(2){
		width: 65%
	}
	.row1.disabled {
		color: #C9C9C9 !important;
	}
	.row1.disabled button {
		background: none !important;
		border: 1px solid #F3F3F3 !important;
	}
	.row1.disabled button:hover{
		background-color: none;
		color: #C9C9C9 !important;
	}
	.row1.disabled button.minus-btn {
		border-right: 0!important;
	}
	.row1.disabled button.plus-btn {
		border-left: 0!important;
	}
	.row1.disabled .later-btn {
		border: 1px solid #F3F3F3 !important;
	}

}
